.header {
  font-size: 30px;
  padding-top: 20px;
}

hr {
  margin-top: 5px;
  width: 20%;
}

.container {
  display: flex;
  flex-direction: column;
}

.job1 {
  width: 150vh;
  height: 320px;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.job1left {
  flex: 2.5;
  margin-top: 20px;
  margin-left: 30px;
  padding: 25px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.job1right {
  flex: 1;
  margin-top: 20px;
  margin-left: 30px;
  padding: 25px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.awards_certificates {
  font-size: 40px;
  padding-top: 20px;
}

.awards_certificates_container {
  flex: 1;
  width: 1150px;
  margin-top: 20px;
  margin-left: 30px;
  padding: 25px 25px 50px 25px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

h3 {
  padding-top: 5px;
  font-size: 20px;
  color: black;
}
