.temp {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  height: 420px;
  width: 300px;
  margin: 50px;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  border: 5px solid rgb(63, 44, 172);
  color: black;
  font-size: 25px;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}

.header {
  font-size: 40px;
  padding-top: 20px;
}

.preview {
  margin-top: 20px;
  height: 160px;
  width: 220px;
  border-radius: 5px;
}

.text {
  font-size: 15px;
  color: black;
  overflow-wrap: break-word;
}

.preview:hover {
  cursor: pointer;
  background-color: #fff;
  filter: opacity(70%);
}

.preview:active {
  filter: brightness(80%);
}
